body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #569a8c;
}

.parent-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 720px;
    height: 720px;
    background-color: white;
}

.parent-div div {
    border: 1px solid black;
    box-sizing: border-box;
}

.change {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 720px;
    margin-bottom: 20px;
}

.current-size {
    display: inline;
}

header, footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #4c7d73;
    font-family: 'Bebas Neue';
    padding: 20px;
}

header {
    font-size: 48px;
    margin-bottom: 20px;
}

footer {
    font-size: 36px;
    margin-top: 40px;
}

#checkbox {
    width: 80px;
    height: 40px;
}

.normal-div {
    display: flex;
    align-items: center;
}